.SearchContainer {
    height: 100%;
    position: relative;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    max-height: 780px;
    // overflow-y: auto;
}


.buttonSearch{
    background: white;
          color: #8C30F5;
          border: 5px 5px #8C30F5 ;
          font-size: 16px;
          width: 100%;
}

.underlineText{
    color: #8C30F5;
}

.searchResult{
    max-height: 660px;
    overflow-y: auto;
}


