.courses_margin{
    margin-left: 115px;
}

.timetable{
    padding-left:80px;
    margin-top: 20px;
}

.buttonSearch{
    background: white;
          color: #8C30F5;
          border: 5px 5px #8C30F5 ;
          margin-top: 10px;
          font-size: 16px; 
}