.header1 {
        box-sizing: border-box;
        width: 100%;
        // height: fit-content;
        // display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: white;
        color: rgba(0, 0, 0, 0.808);
        display: inline;
        overflow: auto;
      }

      img{
        display: inline-block;
        margin-top: 2px;
        margin-left: 10%;
      }

       .headerButtons{
        display: inline;
        float: right;
        margin-right: 20px;
        margin-top: 0;
      }
     
      .logo{
        pointer-events: none;
      }

      .navLinks{
        display: inline-block;
      }

      .linksClass{
          margin: 10px;
          overflow: auto;
          font-size: 15px;
          font-weight: bold;
          align-content: center;
          color: black;
      }

      .link{
        color: white;
      }


      button{
          background: #8C30F5;
          color: white;
          border-radius: 5px;
          font-size: 12px;
          padding: 5px 10px 5px 10px;
          margin-right: 4px;
      }

      label{
        font-size: 16px;
        margin-right: 10px;
        font-weight: bolder;
      }
