/* The following block can be included in a custom.scss */
$body-bg: #ffffff;
$body-color: #70889e;
$highlight-color: #1f8efa;


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";