.formLogin {
	width: 390px;
	margin-left: auto;
    margin-right: auto;
}

.loginContainer {
    height: auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    height: 30vmin;
    pointer-events: none;
  }